@model AutomationJobModel

<table class="adminContent">
    @if (Model.Id > 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.Saturn72LabelFor(model => model.Id):
            </td>
            <td class="adminData">
                @Model.Id.ToString()
                @Html.ValidationMessageFor(model => model.Id)
            </td>
        </tr>
    }
    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.Guid):
        </td>
        <td class="adminData">
            @if (Model.Id > 0)
            {
               @Model.Guid.ToString().ToUpper()
            }
            else
            {
                @Html.EditorFor(model => model.Guid);
            }
            @Html.ValidationMessageFor(model => model.Guid)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.DisplayName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.Comment):
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.Description):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Description, "RichEditor")
            @Html.ValidationMessageFor(model => model.Description)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.Enabled):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.Saturn72LabelFor(model => model.Published):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
        </td>
    </tr>
</table>