@model AutomationJobListModel

@{
    ViewBag.Title = T("Automation.Server.AutomationJobList").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-catalog.png")" alt=""/>
            @T("Automation.Server.AutomationJob.Catalog")
        </div>
        <div class="options">
            <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td>
                <div id="automation-test-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#automation-test-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetAutomationJobList", "AutomationJob"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { type: "number", editable: false },
                                            Name: { type: "string", editable: false },
                                            DisplayName: { type: "string", editable: false },
                                            Description: { type: "string", editable: false },
                                            Comment: { type: "string", editable: false },
                                            Enabled: { type: "boolean", editable: false },
                                            Published: { type: "boolean", editable: false },
                                            Guid: { type: "string", editable: false }
                                        }
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50
                                },
                                {
                                    field: "Name",
                                    title: "@T("Automation.AutomationJob.Fields.Name")"
                                },
                                {
                                    field: "DisplayName",
                                    title: "@T("Automation.AutomationJob.Fields.DisplayName")"
                                }, {
                                    field: "Description",
                                    title: "@T("Automation.AutomationJob.Fields.Description")"
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.Actions")",
                                    width: 100,
                                    template:
                                        '<a href="@Url.Action("Run", "Execution")/#=Id#">@T("Automation.Common.Run")</a>' +
                                            ' | <a href="@Url.Action("Plans", "AutomationJobPlan")/#=Id#">@T("Automation.Common.Plan")</a>' +
                                            ' | <a href="Edit/#=Id#">@T("Automation.Common.Edit")</a>'
                                }
                            ]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
}