@model AutomationJobPlanModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.AutomationJobPlan.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "automation-job-plan-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-catalog.png")" alt="" />
            @T("Automation.AutomationJobPlan.AddNew") @Html.ActionLink("(" + T("Automation.AutomationJobPlan.BackToAutomationJobPlanList") + ")", "Plans", new {id= Model.AutomationJobId})
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Automation.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Automation.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
