@model AutomationJobPlanListModel

@{
    ViewBag.Title = T("Automation.Server.AutomationJobPlanList").Text;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-catalog.png")" alt=""/>
            @T("Automation.Server.AutomationJobPlan.Catalog")
        </div>
        <div class="options">
            <a href="@Url.Action("Create", new {id = Model.Id})" class="k-button">@T("Admin.Common.AddNew")</a>
        </div>
    </div>

    <table class="adminContent">
        <tr>
            <td>
                <div id="automation-plan-grid"></div>

                <script>
    $(document).ready(function () {
        $("#automation-plan-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("GetAutomationJobPlanList", "AutomationJobPlan", new {id = Model.Id}))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false },
                            CreatedOnUtc: { type: "datetime", editable: false },
                            UpdatedOnUtc: { type: "datetime", editable: false },
                            Enabled: { type: "boolean", editable: true },
                            IsDefault: { type: "boolean", editable: true },
                            Name: { type: "string", editable: true },
                            Description: { type: "string", editable: true },
                            Comment: { type: "string", editable: true }
                        }
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Name",
                    title: "@T("Automation.AutomationJobPlan.Fields.Name")"
                }, {
                    field: "Description",
                    title: "@T("Automation.AutomationJobPlan.Fields.Description")"
                }, {
                    field: "IsDefault",
                    title: "@T("Automation.AutomationJobPlan.Fields.IsDefault")"
                }, {
                    field: "Comment",
                    title: "@T("Automation.AutomationJobPlan.Fields.Comment")"
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.Actions")",
                    width: 100,
                    template: '<a href="@Url.Action("Edit", "AutomationJobPlan")/#=Id#">@T("Autoamtion.Common.Edit")</a>'
                }
            ]
        });
    });
                </script>
            </td>
        </tr>
    </table>
}