@model Automation.Web.UI.Models.ClientMachine.ClientMachineListModel

@{
    ViewBag.Title = T("Admin.System.ClientMachine").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/images/ico-users.png")" alt=""/>
        @T("Admin.System.ClientMachine")
    </div>
</div>
<strong>@T("Admin.System.ClientMachine.Refresh")</strong>
<div id="client-machine-grid1"></div>

<script>
    $(document).ready(function() {
        $("#client-machine-grid1").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "ClientMachine"))",
                        type: "POST",
                        dataType: "json"
                    },

                    create: {
                        url: "@Html.Raw(Url.Action("ClientMachineAdd", "ClientMachine"))",
                        type: "POST",
                        dataType: "json"
                    },
                    update: {
                        url: "@Html.Raw(Url.Action("Update", "ClientMachine"))",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("Delete", "ClientMachine"))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Name: { editable: true, type: "string", validation: { required: true } },
                            IpAddress: { editable: true, type: "string", validation: { required: true } },
                            Active: { editable: true, type: "boolean" },
                            LastConnectionOn: { editable: false, type: "date" },
                            Id: { editable: false, type: "number" }
                        }
                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: true,
                mode: "inline"

            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                    width: 50
                },
                {
                    field: "Name",
                    title: "@T("Admin.System.ClientMachine.Fields.Name")",
                    width: 500
                },
                {
                    field: "IpAddress",
                    title: "@T("Admin.System.ClientMachine.Fields.IpAddress")",
                    width: 500
                },
                {
                    field: "Active",
                    title: "@T("Admin.System.ClientMachine.Fields.Active")",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<img src="@Url.Content("~/Content/images/")active-#=Active#.gif" />'

                },
                {
                    field: "LastConnectionOn",
                    title: "@T("Admin.System.ClientMachine.Fields.LastConnectionOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                },
                {
                    command: [
                        { name: "edit", text: "@T("Admin.Common.Edit")" },
                        { name: "destroy", text: "@T("Admin.Common.Delete")" }
                    ],
                    width: 250
                }
            ],
            toolbar: [{ name: "create", text: "Admin.System.ClientMachine.AddNew" }],
            messages: {
                commands: {
                    destroy: "Delete"
                }
            }
        });
    });
</script>